MarvelHeroesApp/Pods/lottie-ios/LICENSE
MarvelHeroesApp/Pods/lottie-ios/README.md
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/AnimationContainer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/CompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/ImageCompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/MaskContainerLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/NullCompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/PreCompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/ShapeCompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/SolidCompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/CompLayers/TextCompositionLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/CompositionLayersInitializer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/InvertedMatteLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/LayerFontProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/LayerImageProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/LayerTextProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/LayerTransformNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/LayerContainers/Utility/TextLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Animation.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Assets/Asset.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Assets/AssetLibrary.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Assets/ImageAsset.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Assets/PrecompAsset.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Extensions/KeyedDecodingContainerExtensions.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Keyframes/Keyframe.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Keyframes/KeyframeGroup.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Layers/ImageLayerModel.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Layers/LayerModel.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Layers/PreCompLayerModel.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Layers/ShapeLayerModel.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Layers/SolidLayerModel.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Layers/TextLayerModel.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Objects/DashPattern.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Objects/Marker.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Objects/Mask.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Objects/Transform.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Ellipse.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/FillI.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/GradientFill.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/GradientStroke.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Group.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Merge.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Rectangle.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Repeater.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Shape.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/ShapeItem.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/ShapeTransform.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Star.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Stroke.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/ShapeItems/Trim.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Text/Font.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Text/Glyph.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Text/TextAnimator.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Model/Text/TextDocument.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Extensions/ItemsExtension.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/NodeProperty.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/ValueContainer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/Protocols/AnyNodeProperty.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/Protocols/AnyValueContainer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/Protocols/KeypathSearchable.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/Protocols/NodePropertyMap.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/ValueProviders/GroupInterpolator.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/ValueProviders/KeyframeInterpolator.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/NodeProperties/ValueProviders/SingleValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/ModifierNodes/TrimPathNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/GroupOutputNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/PassThroughOutputNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/PathOutputNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/Renderables/FillRenderer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/Renderables/GradientFillRenderer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/Renderables/GradientStrokeRenderer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/OutputNodes/Renderables/StrokeRenderer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/PathNodes/EllipseNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/PathNodes/PolygonNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/PathNodes/RectNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/PathNodes/ShapeNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/PathNodes/StarNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/RenderContainers/GroupNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/RenderNodes/FillNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/RenderNodes/GradientFillNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/RenderNodes/GradientStrokeNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/RenderNodes/StrokeNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Nodes/Text/TextAnimatorNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Protocols/AnimatorNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Protocols/PathNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/Protocols/RenderNode.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/RenderLayers/ShapeContainerLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/NodeRenderSystem/RenderLayers/ShapeRenderLayer.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Debugging/AnimatorNodeDebugging.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Debugging/LayerDebugging.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Extensions/AnimationKeypathExtension.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Extensions/CGFloatExtensions.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Extensions/MathKit.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Extensions/StringExtensions.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Helpers/AnimationContext.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Interpolatable/Interpolatable.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Interpolatable/InterpolatableExtensions.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Interpolatable/KeyframeExtensions.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Primitives/BezierPath.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Primitives/ColorExtension.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Primitives/CompoundBezierPath.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Primitives/CurveVertex.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Primitives/PathElement.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Private/Utility/Primitives/VectorsExtensions.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/Animation/AnimationPublic.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/Animation/AnimationView.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/Animation/AnimationViewInitializers.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/AnimationCache/AnimationCacheProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/AnimationCache/LRUAnimationCache.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/AnimationKeypath.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/AnyValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/ValueProviders/ColorValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/ValueProviders/FloatValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/ValueProviders/GradientValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/ValueProviders/PointValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/DynamicProperties/ValueProviders/SizeValueProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/FontProvider/AnimationFontProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/ImageProvider/AnimationImageProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/AnimatedButton.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/AnimatedControl.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/AnimatedSwitch.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/AnimationSubview.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/BundleImageProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/FilepathImageProvider.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/LottieView.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/UIColorExtension.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/Compatibility/CompatibleAnimationKeypath.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/iOS/Compatibility/CompatibleAnimationView.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/Primitives/AnimationTime.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/Primitives/Color.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/Primitives/Vectors.swift
MarvelHeroesApp/Pods/lottie-ios/lottie-swift/src/Public/TextProvider/AnimationTextProvider.swift
MarvelHeroesApp/Pods/Pods.xcodeproj/xcuserdata/angel.bayon.xcuserdatad/xcschemes/lottie-ios.xcscheme
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios-dummy.m
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios-Info.plist
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios-prefix.pch
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios-umbrella.h
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios.debug.xcconfig
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios.modulemap
MarvelHeroesApp/Pods/Target Support Files/lottie-ios/lottie-ios.release.xcconfig
